@use "./variables" as v;
figure.images-bg {
  background-color: v.$brand;
  padding: 20px;
  display: inline-block;
  margin-bottom: 30px;
}
header {
  height: 100px;
  background-color: rgb(245, 243, 243);
}
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: table;
    background: rgb(248, 248, 248);
    padding: 20px;
    width: 100%;
  }
  
  figure,
  nav {
    vertical-align: middle;
    display: table-cell;
  }
  
  nav ul {
    text-align: right;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav a {
    text-decoration: none;
    margin: 0 25px;
    color: #111111;
  }
  
  nav a:hover {
    color: v.$brand;
    margin-bottom: 2em;
    border-bottom: 3px solid v.$brand;
  }

  nav a:active {
    background-color: v.$brand;
    color: white;
  }

.parallax {
	background-image: url("https://cdn.pixabay.com/photo/2016/11/29/04/19/ocean-1867285_1280.jpg");
	height: 600px;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* Parallax scrolling effect */
	background-attachment: fixed;
}

h1 {
	font-size: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.text {
	height: 1000px;
	max-width: 720px;
	margin: 0 auto;
}

.text h2 {
	margin: 50px;
	text-align: center;
}