@use "./variables" as v;

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 5em;
  padding-bottom: 5em;
}

header {
  height: 90px;
  background-color: rgb(255, 249, 249);
  width: 100%;
  display: flex;
  align-items: center;
}

// section {
//   padding-top: 5em;
//   padding-bottom: 5em;
// //   margin-bottom: 2em;
// }

// main {
//   margin-top: 3em;
// }

// article {
//   width: 500px;
//   height: 500px;
//   display: flex;
//   padding: 2em;
// }

footer {
  position: relative;
  height: auto;
  display: flex;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 7em;
  padding-bottom: 5em;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

footer-column-1 {
  width: 20%;
  align-content: left;
}
footer-column-2,
footer-column-3 {
  width: 40%;
  display: flex;
}
