  @import url('https://fonts.googleapis.com/css2?family=Onest:wght@400&family=Young+Serif&display=swap');


$brand: rgb(90, 90, 234);
$covertext: rgb(255, 255, 255);
$text: rgb(19, 20, 28);
$font: "Young Serif", serif;
$fontb: 'Onest', sans-serif;