.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  display: table;
  height: 90px;
  width: 100%;

  padding: 2em;
  overflow: hidden;
  position: fixed;
}
main {
  margin-top: 3em;
}

// article {
//   width: 500px;
//   height: 500px;
//   display: flex;
//   padding: 2em;
// }


footer {
  position: relative;
  height: auto;
  display: flex;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 7em;
  padding-bottom: 7em;
  align-items: center;
  justify-content: space-evenly;
}

footer-column-1 {
  width: 20%;
  align-content: left;
}
footer-column-2,
footer-column-3 {
  width: 40%;
  display: flex;
}
